<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  </head>
  <body>

    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        WDI-Plus-TX: Lessons
      </a>
    </nav>

    <br>

    <div class="container">

    	<ul class="list-group">
  	  	<% lessonsArray.forEach( (lesson) => { %>
  			<a href="/lessons/<%= lesson.id %>"><li class="list-group-item"> <%= lesson.title %> | <a href="<%= lesson.githubUrl %>"> Github </a> </li></a>
  		  <% }) %>

  	  </ul>
  </div>

  <!-- <br>
  <div class="container">
    <form method='POST' action='/lessons'>
      <label>Title</label>
      <input name='title' type='text' />
      <label>Github Url</label>
      <input name='githubUrl' type='text' />
      <input type='submit' value='Submit!' />
    </form>
  </div> -->
  </body>
</html>
