<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  </head>
  <body>

  	<nav class="navbar navbar-light bg-light">
	  <a class="navbar-brand" href="#">
	    <img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
	    Sneakers
	  </a>
	</nav>

	<br>

  	<div class="container">
	<h1> <%= sneakers.title %> </h1>
		<p>keywords: </p>
		<ul class="list-group">
		<% sneakers.keywords.forEach( (keyword) => { %>
			<li class="list-group-item"> <%= keyword %> </li>
		<% }) %>
		</ul>
		<br>
		<a href="<%= sneakers.stockxUrl %>"> StockX </a>
  	<br>

  	<form action="/sneakers/<%=sneakers.id%>?_method=DELETE" method="POST">
  		<input class="btn btn-danger" type="submit" value="Delete it!"/>
  	</form>
  </body>
</html>
